/**
 * Copyright 2020-2027 | Fabrice Creuzot (luigifab) <code~luigifab~fr>
 * https://github.com/luigifab/human-theme
 *
 * Forked from
 *  Copyright 2020 | Mike Kazantsev (mk-fg) <mk~fraggod~gmail~com>
 *  https://github.com/mk-fg/clearlooks-phenix-humanity
 *
 * Forked from
 *  Copyright 2011-2014 | Jean-Philippe Fleury
 *  Copyright 2013-2014 | Andrew Shadura
 *  https://github.com/jpfleury/clearlooks-phenix
 *
 * This program is free software, you can redistribute it or modify
 * it under the terms of the GNU General Public License (GPL) as published
 * by the free software foundation, either version 3 of the license, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but without any warranty, without even the implied warranty of
 * merchantability or fitness for a particular purpose. See the
 * GNU General Public License (GPL) for more details.
 */

/* --- awf-gtk4 --- */

#AwfMainWindow button.awf-cheatcode-filebtn { min-height: 18px; }
#AwfMainWindow button.awf-cheatcode-folderbtn { min-height: 20px; }

#AwfMainWindow box.primary-toolbar:dir(ltr) button.image-button:nth-child(1),
#AwfMainWindow box.primary-toolbar:dir(ltr) button.image-button:nth-child(2) { margin-right: 28px; }

#AwfMainWindow box.primary-toolbar:dir(rtl) button.image-button:nth-child(1),
#AwfMainWindow box.primary-toolbar:dir(rtl) button.image-button:nth-child(2) { margin-left: 28px; }

#AwfMainWindow scrollbar.horizontal range { padding-left: 15px; padding-right: 15px; }
#AwfMainWindow scrollbar.vertical range { padding-top: 15px; padding-bottom: 15px; }

#AwfDialogWindow notebook stack box scale { border: 1px dashed black; }

/* --- libre office v? --- */
/* @see https://bugs.documentfoundation.org/show_bug.cgi?id=157708 */

#LibreOfficeMainWindow > grid.horizontal > grid.horizontal > scrolledwindow > viewport.frame,
window.background > grid.horizontal > grid.horizontal > scrolledwindow > viewport, /* gtk4 */
window.background > grid.horizontal > grid.horizontal > scrolledwindow /* gtk4 */ {
	border: 0;
}

#LibreOfficeMainWindow > grid.horizontal > grid.horizontal > scrolledwindow + button.flat.small-button,
window.background > grid.horizontal > grid.horizontal > scrolledwindow + button.flat.small-button {
	min-width: 24px;
	min-height: 24px;
	border-bottom: 1px solid @menubar_border_bot;
	border-radius: 0;
}

#LibreOfficeMainWindow > grid.horizontal > grid.horizontal,
window.background > grid.horizontal > grid.horizontal {
	background: linear-gradient(to bottom, @menubar_grad_top, @menubar_grad_bot);
}
