/**
 * Copyright 2020-2025 | Fabrice Creuzot (luigifab) <code~luigifab~fr>
 * https://github.com/luigifab/human-theme
 *
 * Forked from
 *  Copyright 2020 | Mike Kazantsev (mk-fg) <mk~fraggod~gmail~com>
 *  https://github.com/mk-fg/clearlooks-phenix-humanity
 *
 * Forked from
 *  Copyright 2011-2014 | Jean-Philippe Fleury
 *  Copyright 2013-2014 | Andrew Shadura
 *  https://github.com/jpfleury/clearlooks-phenix
 *
 * This program is free software, you can redistribute it or modify
 * it under the terms of the GNU General Public License (GPL) as published
 * by the free software foundation, either version 3 of the license, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but without any warranty, without even the implied warranty of
 * merchantability or fitness for a particular purpose. See the
 * GNU General Public License (GPL) for more details.
 */

/* menubar label, popover label { background:pink; }
menubar image, popover image { background:yellow; }
menubar check, popover check { background:yellow; }
menubar radio, popover radio { background:yellow; } */



/* --- panel --- */

.mate-panel-menu-bar,
.mate-panel-menu-bar menubar,
.mate-panel-menu-bar button,
#PanelPlug,
#PanelPlug button,
#PanelApplet,
#PanelApplet button,
PanelApplet,
PanelApplet button,
PanelToplevel.background {
	color: @theme_fg; /* mainly for mate keyboard layout indicator applet, but apply almost everywhere */
	border: 0;
	background: @theme_bg;
}

.mate-panel-menu-bar menubar {
	margin: 0 8px 0 0;
	padding: 0;
}

.mate-panel-menu-bar menubar > menuitem > image {
	margin: 0 1px;
}

.mate-panel-menu-bar menubar > item {
	margin: 0;
	padding: 3px 5px 3px 9px;
	border-radius: 0;
}

.mate-panel-menu-bar menubar > item:dir(rtl) {
	padding: 3px 9px 3px 5px;
}

.mate-panel-menu-bar item > box > item {
	margin: 0 -5px 0 -5px;
	padding: 0 3px 0 10px;
	border: 0;
}

.mate-panel-menu-bar item > box > item check {
	margin-left: -1px;
}
