/**
 * Copyright 2020-2025 | Fabrice Creuzot (luigifab) <code~luigifab~fr>
 * https://github.com/luigifab/human-theme
 *
 * Forked from
 *  Copyright 2020 | Mike Kazantsev (mk-fg) <mk~fraggod~gmail~com>
 *  https://github.com/mk-fg/clearlooks-phenix-humanity
 *
 * Forked from
 *  Copyright 2011-2014 | Jean-Philippe Fleury
 *  Copyright 2013-2014 | Andrew Shadura
 *  https://github.com/jpfleury/clearlooks-phenix
 *
 * This program is free software, you can redistribute it or modify
 * it under the terms of the GNU General Public License (GPL) as published
 * by the free software foundation, either version 3 of the license, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but without any warranty, without even the implied warranty of
 * merchantability or fitness for a particular purpose. See the
 * GNU General Public License (GPL) for more details.
 */

/* --- awf-gtk3 --- */

#AwfMainWindow .awf-cheatcode-prbr2 { margin: 1px 0; }

/* --- audacity --- */

window > box > widget > widget {
	background-color: @theme_bg;
}

/* --- geany & pluma --- */

#GeanyMainWindow #notebook_info {
	margin-bottom: 5px;
	padding-left: 5px;
}

#GeanyMainWindow.maximized notebook stack > box,
window.pluma-window notebook stack > box {
	margin: 0 -1px;
}

window.pluma-window notebook stack > box scrolledwindow {
	border: 0;
}

#GeanyMainWindow notebook widget:dir(ltr) scrollbar.vertical {
	margin-left: 0;
}

#GeanyMainWindow notebook widget:dir(rtl) scrollbar.vertical {
	margin-right: 0;
}

#GeanyMainWindow notebook widget scrollbar.horizontal {
	margin-top: 0;
}

#GeanyMainWindow statusbar {
	margin-top: -8px;
}

#GeanyMainWindow statusbar.classic {
	margin-top: -3px;
}

#GeanyMainWindow statusbar progressbar.horizontal {
	margin: 0 -1px 2px 0;
}

/* --- libre office --- */

window.libreoffice-window > grid.horizontal > grid.horizontal > scrolledwindow > viewport.frame {
	border: 0;
}

window.libreoffice-window > grid.horizontal > grid.horizontal > scrolledwindow + button.flat.small-button {
	min-width: 24px;
	min-height: 24px;
	border-bottom: 1px solid @menubar_border_bot;
	border-radius: 0;
}

window.libreoffice-window > grid.horizontal > grid.horizontal {
	background: linear-gradient(to bottom, @menubar_grad_top, @menubar_grad_bot);
}

/* --- bleachbit v5.2 --- */
/* @see https://github.com/bleachbit/bleachbit/pull/1195 */

#BleachbitMainWindow > box > box > scrolledwindow:dir(ltr) scrollbar.vertical {
	padding-top: 33px;
	padding-right: 3px;
	padding-bottom: 33px;
	border-right: 2px solid @menu_border;
}

#BleachbitMainWindow > box > box > scrolledwindow + box scrolledwindow:dir(ltr) {
	padding: 5px 1px 5px 5px;
	background: @theme_base;
}

#BleachbitMainWindow > box > box > scrolledwindow + box scrolledwindow:dir(ltr) scrollbar.vertical {
	margin-top: -5px;
	margin-bottom: -5px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-left: 1px solid @menu_border;
	background: @theme_bg;
}

#BleachbitMainWindow > box > box > scrolledwindow:dir(rtl) scrollbar.vertical {
	margin-right: -3px;
	padding-top: 33px;
	padding-left: 3px;
	padding-bottom: 33px;
	border-left: 2px solid @menu_border;
}

#BleachbitMainWindow > box > box > box > scrolledwindow:dir(rtl) {
	padding: 5px 5px 5px 1px;
	background: @theme_base;
}

#BleachbitMainWindow > box > box > box > scrolledwindow:dir(rtl) scrollbar.vertical {
	margin-top: -5px;
	margin-bottom: -5px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 3px;
	border-right: 1px solid @menu_border;
	background: @theme_bg;
}

/* --- css fix/hack for some maximized windows --- */
/* @see https://github.com/mate-desktop/mate-desktop/issues/291 = without gtk3-classic (scrollbar__extra_zone.patch) */

#GeanyMainWindow.maximized:not(.scrollfix):dir(ltr)
	#notebook_info stack,
window.background.maximized.engrampa-window:not(.scrollfix):dir(ltr) >
	grid.horizontal > paned.horizontal > scrolledwindow.frame,
window.background.maximized.atril-window:not(.scrollfix):dir(ltr) >
	box.vertical > paned.horizontal > box.vertical > scrolledwindow.frame,
window.background.maximized.pluma-window:not(.scrollfix):dir(ltr) >
	box.vertical > paned.horizontal > paned.vertical > notebook box.vertical > scrolledwindow.frame,
window.background.maximized.xed-window:not(.scrollfix):dir(ltr) >
	box.vertical > paned.horizontal > paned.vertical > notebook box.vertical > scrolledwindow.frame,
window.background.maximized.logview-window:not(.scrollfix):dir(ltr) >
	box.vertical > paned.horizontal > box.vertical > scrolledwindow.frame,
window.background.maximized.caja-navigation-window:not(.scrollfix):dir(ltr)
	notebook.caja-notebook scrolledwindow.frame,
window.background.nemo-window.maximized:not(.scrollfix):dir(ltr)
	paned paned notebook stack
{
	border-right-width: 0;
}

window.background.maximized.thunar:not(.scrollfix):dir(ltr)
	paned paned notebook stack scrolledwindow.frame.standard-view
{
	margin-right: -1px;
}

#GeanyMainWindow.maximized:not(.scrollfix):dir(rtl)
	#notebook_info stack,
window.background.maximized.engrampa-window:not(.scrollfix):dir(rtl) >
	grid.horizontal > paned.horizontal > scrolledwindow.frame,
window.background.maximized.atril-window:not(.scrollfix):dir(rtl) >
	box.vertical > paned.horizontal > box.vertical > scrolledwindow.frame,
window.background.maximized.pluma-window:not(.scrollfix):dir(rtl) >
	box.vertical > paned.horizontal > paned.vertical > notebook box.vertical > scrolledwindow.frame,
window.background.maximized.xed-window:not(.scrollfix):dir(rtl) >
	box.vertical > paned.horizontal > paned.vertical > notebook box.vertical > scrolledwindow.frame,
window.background.maximized.logview-window:not(.scrollfix):dir(rtl) >
	box.vertical > paned.horizontal > box.vertical > scrolledwindow.frame,
window.background.maximized.caja-navigation-window:not(.scrollfix):dir(rtl)
	notebook.caja-notebook scrolledwindow.frame,
window.background.nemo-window.maximized:not(.scrollfix):dir(rtl)
	paned paned notebook stack
{
	border-left-width: 0;
}
